#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# secret.tfvars files
**/*secret*.tfvars
!**/sample-backend-secrets.tfvars

# Ignore certs
**/*.pfx