#  Local .terraform directories
**/.terraform/*
**/.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# secret.tfvars files
**/*secret*.tfvars
!**/*-secrets-sample.tfvars

# Ignore certs
**/*.pfx